## **A CUSTOMER CHURN PREDICTION PROBLEM**

## **1.1: Project Description** ###

**A Classification project aimed at assisting a telecommunications company understand their data and find the life time value of each customer and know what factors affect the rate at which customers stop using their network. The predictive modelling will be done after a comprehensive analysis of the dataset provided by the business team**

## **1.2: The Underlying Hypothesis** ##

**A hypothesis is a tentative statement that expresses a possible relationship between two or more variables. It should be testable, specific, and based on existing knowledge or theory. A research question is a question that guides your investigation and seeks to answer a problem or gap in the literature**

## **Null Hypothesis:** ##

**There is no significant difference in the likelihood of churn between customers who have a higher monthly charge, a shorter tenure, and no contract, compared to customers who have a lower monthly charge, a longer tenure, and a contract**


## **Alternative Hypothesis** ##

**Customers who have a higher monthly charge, a shorter tenure, and no contract are more likely to churn than customers who have a lower monthly charge, a longer tenure, and a contract.**


## **Explanation:** ##

**The null hypothesis assumes that there is no clear evidence suggesting a difference in the likelihood of customers leaving (churning) between those with higher monthly charges, shorter tenure, and no contract compared to those with lower monthly charges, longer tenure, and a contract. The alternative hypothesis, on the other hand, proposes that customers with higher charges, shorter relationships, and no contract are more likely to leave the service than customers with lower charges, longer relationships, and a contract.**


## **Implication:** ##

**If the null hypothesis is rejected based on statistical analysis, it would suggest that there is a significant difference in the churn rates between the two groups described. The alternative hypothesis, if supported by data, would imply that certain factors (higher charges, shorter tenure, and no contract) are associated with a higher likelihood of customers leaving the service. This information could be valuable for the company to understand and potentially address factors influencing customer retention**

## **Research question 1: General Exploration of Churn Rate and Patterns** ##


**What is the overall churn rate in the dataset, and are there discernible patterns among customers with different contract types, monthly charges, and tenure lengths?**

 *This question seeks to understand the overall churn rate and identify patterns among customers based on contract types, monthly charges, and tenure lengths. It involves a broad exploration of the dataset to uncover initial insights.*

## **Research question 2: Contract Types and Churn Behaviour** ##


**How does the contract type correlate with customer churn, and are there differences in churn behavior between customers with different contract durations?**

*This question focuses specifically on the relationship between contract types and customer churn. It aims to investigate if the duration of contracts has an impact on churn behavior, providing more detailed insights into the influence of contract terms*


## **Research question 3: Monthly Charges and Churn Rates** ##


**What impact does the monthly charge have on the likelihood of customer churn, and are there distinct groups of customers with higher monthly charges exhibiting higher churn rates?**

*This question delves into the relationship between monthly charges and customer churn. It aims to identify whether certain groups of customers with higher monthly charges have a higher likelihood of churning, offering insights into the financial aspect of customer retention*


## **Research question 4: Temure and Churn Behaviour** ##


**Does the tenure of a customer affect their likelihood to churn, and is there a noticeable difference in churn rates between short- and long-tenured customers?**

*This question explores the impact of customer tenure on churn. It aims to identify if there's a significant difference in churn rates between customers with short and long tenures, providing insights into the loyalty and retention of customers over time.*


## **Research question 5: Influence of Contract Status on Customer Churn** ##


**To what extent does the absence of a contract impact customer churn, and are customers without contracts more likely to leave the network compared to those with contracts?**

*Evaluate the influence of contract status on customer churn, particularly focusing on customers without contracts.
These research questions align with the hypotheses and aim to provide insights into the factors influencing customer churn in the telecommunications company's dataset*


**These research questions align with the hypotheses and aim to explore the descriptive and inferential statistics of the data, and identify the patterns and trends of customer churn. You can answer these questions by using methods such as descriptive statistics, cross-tabulation, correlation analysis, cluster analysis, or principal component analysis**

**Installing and Importing  Packages**

**2.1: Installing the necessary libraries**

In [72]:
# Installing the required libraries for the notebook to accomodate the codes
# pip install pyodbc  
# pip install python-dotenv 
# pip install numpy
# pip install matplotlib
# pip install seaborn
# pip install pandas
# pip install currency_converter
# pip install forex-python
# pip install scipy
# pip install forex-python
# pip install statsmodels

**2.2: Importing the required Packagies to work with**

In [73]:
# Importing the needed libraries 
# pandas to clean and manipulate the data
# numpy for basic calculation
# seaborn and matplolib for visualition

# Data manipulation packages
import pyodbc
# import the dotenv_values function from the dotenv package      
from dotenv import dotenv_values    
import pandas as pd
import warnings
import numpy as np

# Statistical analysis
from sklearn.impute import SimpleImputer
from forex_python.converter import CurrencyRates
import re
from scipy.stats import chi2_contingency
from scipy.stats import ks_2samp
import scipy.stats
import scipy.stats as stats
from sklearn.preprocessing import LabelEncoder
from scipy.stats import kruskal, mannwhitneyu

# Data visualization packages
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings ('ignore')

**2.3: Loading the environment variables  from .env file into a dictionary using the values for the credentials set in the '.env' file. Connecting to the Microsoft SQL Server database to retrieve data by creating a connection string to the remote database server**

In [74]:
# Loading environment variables from .env file into a dictionary.
environment_variables = dotenv_values('.env')


# Getting the values for the credentials set in the '.env' file and creating a connection string
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")


connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

**Using the connect method of the pyodbc library to pass in the connection string to connect to the server**

In [75]:
# Establishing connection to the database server
connection = pyodbc.connect(connection_string)

### Loading the First Dataset

In [76]:
# Querrying the Microsoft SQL database to fetch the First dataset 

query = "SELECT * FROM LP2_Telco_churn_first_3000"

FirstDataset = pd.read_sql(query, connection)

**Saving the dataset to CSV**

In [77]:
# Save the DataFrame to a CSV file
FirstDataset.to_csv("churn_data.csv", index=False)

**Viewing the information and first few rows of the dataset**

In [78]:
FirstDataset.shape

(3000, 21)

In [79]:
FirstDataset.info()
FirstDataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [80]:
FirstDataset.describe

<bound method NDFrame.describe of               customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
0             7590-VHVEG  Female          False     True       False       1
1             5575-GNVDE    Male          False    False       False      34
2             3668-QPYBK    Male          False    False       False       2
3             7795-CFOCW    Male          False    False       False      45
4             9237-HQITU  Female          False    False       False       2
...                  ...     ...            ...      ...         ...     ...
2995          2209-XADXF  Female          False    False       False       1
2996          6620-JDYNW  Female          False    False       False      18
2997          1891-FZYSA    Male           True     True       False      69
2998          4770-UEZOX    Male          False    False       False       2
2999  1A1:U3001038-RQOST    Male          False     True        True      19

      PhoneService MultipleLines InternetService OnlineSecurity  ...  \
0            False          None             DSL          False  ...
1             True         False             DSL           True  ...
2             True         False             DSL           True  ...
3            False          None             DSL           True  ...
4             True         False     Fiber optic          False  ...
...            ...           ...             ...            ...  ...
2995         False          None             DSL          False  ...
2996          True          True             DSL           True  ...
2997          True          True     Fiber optic          False  ...
2998          True         False     Fiber optic          False  ...
2999          True         False              No           None  ...

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0               False       False       False           False  Month-to-month
1                True       False       False           False        One year
2               False       False       False           False  Month-to-month
3                True        True       False           False        One year
4               False       False       False           False  Month-to-month
...               ...         ...         ...             ...             ...
2995            False       False       False           False  Month-to-month
2996             True       False       False           False  Month-to-month
2997            False       False        True           False  Month-to-month
2998            False       False       False           False  Month-to-month
2999             None        None        None            None  Month-to-month

     PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges  \
0                True           Electronic check      29.850000     29.850000
1               False               Mailed check      56.950001   1889.500000
2                True               Mailed check      53.849998    108.150002
3               False  Bank transfer (automatic)      42.299999   1840.750000
4                True           Electronic check      70.699997    151.649994
...               ...                        ...            ...           ...
2995            False  Bank transfer (automatic)      25.250000     25.250000
2996             True               Mailed check      60.599998   1156.349976
2997             True           Electronic check      89.949997   6143.149902
2998             True           Electronic check      74.750000    144.800003
2999            False               Mailed check      20.600000    414.950012

      Churn
0     False
1     False
2      True
3     False
4      True
...     ...
2995  False
2996  False
2997   True
2998  False
2999  False

[3000 rows x 21 columns]>

In [81]:
# Check for missing values in df_2018
FirstDataset.isnull().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

In [82]:
# Check for duplicates
FirstDataset.duplicated().sum()

0

### Loading Second 2000 Dataset from the GitHub repository and OneDrive file using the file path method

In [83]:
# Loading the second dataset stating the full file path
file_path_second = r'C:\Users\user\OneDrive\Desktop\MY DS CAREER ACCELERATOR\Customer_Churn_Prediction_Problem\LP2_Telco-churn-last-2000.csv'

# Load the second dataset into a DataFrame
SecondDataset = pd.read_csv(file_path_second)

In [84]:
SecondDataset.shape

(2043, 21)

In [85]:
SecondDataset.info()
SecondDataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

In [86]:
SecondDataset.describe

<bound method NDFrame.describe of       customerID  gender  SeniorCitizen Partner Dependents  tenure  \
0     5600-PDUJF    Male              0      No         No       6
1     8292-TYSPY    Male              0      No         No      19
2     0567-XRHCU  Female              0     Yes        Yes      69
3     1867-BDVFH    Male              0     Yes        Yes      11
4     2067-QYTCF  Female              0     Yes         No      64
...          ...     ...            ...     ...        ...     ...
2038  6840-RESVB    Male              0     Yes        Yes      24
2039  2234-XADUH  Female              0     Yes        Yes      72
2040  4801-JZAZL  Female              0     Yes        Yes      11
2041  8361-LTMKD    Male              1     Yes         No       4
2042  3186-AJIEK    Male              0      No         No      66

     PhoneService     MultipleLines InternetService OnlineSecurity  ...  \
0             Yes                No             DSL             No  ...
1             Yes                No             DSL             No  ...
2              No  No phone service             DSL            Yes  ...
3             Yes               Yes     Fiber optic             No  ...
4             Yes               Yes     Fiber optic             No  ...
...           ...               ...             ...            ...  ...
2038          Yes               Yes             DSL            Yes  ...
2039          Yes               Yes     Fiber optic             No  ...
2040           No  No phone service             DSL            Yes  ...
2041          Yes               Yes     Fiber optic             No  ...
2042          Yes                No     Fiber optic            Yes  ...

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0                  No         Yes          No              No  Month-to-month
1                 Yes         Yes          No              No  Month-to-month
2                 Yes          No          No             Yes        Two year
3                  No          No          No              No  Month-to-month
4                 Yes         Yes         Yes             Yes  Month-to-month
...               ...         ...         ...             ...             ...
2038              Yes         Yes         Yes             Yes        One year
2039              Yes          No         Yes             Yes        One year
2040               No          No          No              No  Month-to-month
2041               No          No          No              No  Month-to-month
2042              Yes         Yes         Yes             Yes        Two year

     PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges  \
0                 Yes    Credit card (automatic)          49.50         312.7
1                 Yes    Credit card (automatic)          55.00        1046.5
2                 Yes    Credit card (automatic)          43.95        2960.1
3                 Yes           Electronic check          74.35         834.2
4                 Yes           Electronic check         111.15        6953.4
...               ...                        ...            ...           ...
2038              Yes               Mailed check          84.80        1990.5
2039              Yes    Credit card (automatic)         103.20        7362.9
2040              Yes           Electronic check          29.60        346.45
2041              Yes               Mailed check          74.40         306.6
2042              Yes  Bank transfer (automatic)         105.65        6844.5

     Churn
0       No
1      Yes
2       No
3      Yes
4       No
...    ...
2038    No
2039    No
2040    No
2041   Yes
2042    No

[2043 rows x 21 columns]>

In [87]:
# Check for missing values in df_2018
SecondDataset.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [93]:
# Loading the Third dataset stating the full file path
file_path_second = r'C:\Users\user\OneDrive\Desktop\MY DS CAREER ACCELERATOR\Customer_Churn_Prediction_Problem\Telco-churn-second-2000.xlsx'

# Load the second dataset into a DataFrame
ThirdDataset = pd.read_excel(file_path_second)

In [94]:
# Display the first few rows of the second dataset
ThirdDataset.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,2640-PMGFL,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,3801-HMYNL,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15

In [95]:
ThirdDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

## Standardizing columns before concatenating

In [88]:
FirstDataset.dtypes

customerID           object
gender               object
SeniorCitizen          bool
Partner                bool
Dependents             bool
tenure                int64
PhoneService           bool
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling       bool
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [92]:
SecondDataset.types

AttributeError: 'DataFrame' object has no attribute 'types'

**Saving the dataset to CSV**

In [90]:
# Save the DataFrame to a CSV file
#SecondDataset.to_csv("churn_data.csv", index=False)